@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');






@theme{

--font-Poppins:"Poppins", sans-serif;
--font-Grotesk:"Space Grotesk", sans-serif;
--font-inter: "Inter", sans-serif;
--breakpoint-laptop:800px;
}
.container{
width: 100%;
    @media (width >= 40rem /* 640px */) {
        max-width: 40   rem /* 640px */;
    }
    @media (width >= 48rem /* 768px */) {
        max-width: 48rem /* 768px */;
    }
    @media (width >= 64rem /* 1024px */) {
        max-width: 64rem /* 1024px */;
    }
    @media (width >= 80rem /* 1280px */) {
        max-width: 80rem /* 1280px */;
    }
    @media (width >= 96rem /* 1536px */) {
        max-width: 85rem /* 1536px */;
    }
}


@utility test{
    @apply border-4 border-b-amber-800
}

@utility row{
    @apply flex  items-center ;
}

@utility circle{
    @apply rounded-full;
}



 

